/* General Styles */
footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
  }
  
  footer a.text-light:hover {
    color: #f8f9fa;
  }
  
  footer .bi {
    font-size: 1.5rem;
  }
  
  /* Media Queries */
  
  /* Small devices (landscape phones, less than 768px) */
  @media (max-width: 767.98px) {
    .footer .col-md-4 {
      margin-bottom: 1rem;
      text-align: center;
    }
    .footer p,
    .footer h5 {
      font-size: 1rem;
    }
    .footer .bi {
      font-size: 1.2rem;
    }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    .footer .col-md-4 {
      margin-bottom: 1rem;
    }
    .footer p,
    .footer h5 {
      font-size: 1.1rem;
    }
    .footer .bi {
      font-size: 1.3rem;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .footer p,
    .footer h5 {
      font-size: 1.2rem;
    }
    .footer .bi {
      font-size: 1.5rem;
    }
  }
  